# 00-09-Assessment Test

___
## Question 1
Given the string 'hello' give an index command that returns 'e'

In [1]:
s = 'hello'
print(s[1])

e

___
## Question 2
Reverse the string 'hello' using slicing

In [2]:
s ='hello'
print(s[::-1])

olleh

___
## Question 3
Use three methods of producing the letter 'o' using indexing

In [4]:
# Method 1:
s ='hello'
print(s[4])

o

In [5]:
# Method 2:
s ='hello'
print(s[-1])

o

In [6]:
# Method 3:
s ='hello'
print(s[len(s)-1])

o

___
## Question 4
Build this list [0,0,0] using three distinct methods

In [8]:
# Method 1:
list1 = [0,0,0]
list1

[0, 0, 0]

In [9]:
# Method 2:
list2 = [0 for _ in range(3)]
list2

[0, 0, 0]

In [10]:
# Method 3:
list3 = [0]*3
list3

[0, 0, 0]

___
## Question 5
Reassign 'hello' in this nested list to say 'goodbye' instead

In [5]:
list4 = [1,2,[3,4,'hello']]
list4[2][2] = "goodbye"
list4

[1, 2, [3, 4, 'goodbye']]

___
## Question 6
Sort the list below

In [6]:
list5 = [5,3,4,6,1]
list5.sort()
list5

[1, 3, 4, 5, 6]

___
## Question 7
Using keys and indexing, grab the 'hello' from the following dictionaries

In [1]:
d1 = {'simple_key':'hello'}
d1['simple_key']

'hello'

In [2]:
d2 = {'k1':{'k2':'hello'}}
d2['k1']["k2"]

'hello'

In [3]:
d3 = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d3['k1'][0]['nest_key'][1][0]

'hello'

In [4]:
d4 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d4['k1'][2]["k2"][1]['tough'][2][0]

'hello'

___
## Question 8
Use a set to find the unique values of the list below

In [7]:
list6 = [1,2,2,33,4,4,11,22,3,3,2]
set(list6)

{1, 2, 3, 4, 11, 22, 33}